name: Docker CI

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  psf-black:
    name: Verify we can create Docker images
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@3df4ab11eba7bda6032a0b82a6bb43b11571feac # v4
      - uses: docker/build-push-action@v5
        with:
          context: .
          push: false
          tags: testbench:test-only
